/* BASIC STYLES HERE */

.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
}

body {
  background-size: cover;
}

/* NOTE write some css to make sure that your background size covers the screen */
